<%-include("Header.ejs");%>
<div class="two_contact container-fluid">
<h2>Contact me from here</h2>

<div class="social-btns socials"><a class="btn facebook" href="https://www.facebook.com/manav10799/"><i class="fa fa-facebook"></i></a><a class="btn google" href="https://mail.google.com/mail/?view=cm&fs=1&to=manav10799@gmail.com"><i class="fa fa-google"></i></a><a class="btn twitter" href="https://twitter.com/manav10799"><i class="fa fa-twitter"></i></a></i></a><a class="btn instagram" href="https://www.instagram.com/manav._arora/"><i class="fa fa-instagram"></i></a>
</div>

</div>


<!-- <div class="contact container-fluid">
    <h1>Contact</h1>
    <button href=""type="button" class="meassage btn btn-light">Message Me</button>
    </div> -->