</div>
<div class="footer-padding"></div>
  <div class="footer container-fluid">
    <p>Made with ❤️ By Manav Arora</p>
    <a href="https://www.linkedin.com/in/manav10799/">Linkedin</a> 
    <a href="https://www.instagram.com/manav._arora/">Instagram</a>
  </div>
</div>
</body>
</html>
