<%-include("Header.ejs");%>
<div class="start container-fluid">
    <h1>I'm Manav</h1>
    <p>a web developer</p>
    <img src="http://seanhalpin.io/assets/img/content/home/masthead/land.svg" alt="">
</div>
<div class="second_block container-fluid">
    <img class="second_img" src="https://pbs.twimg.com/profile_images/1220216824194682880/C16AmCU6.jpg" alt="">
    <h1>Hi</h1>
    <p>I'm a web developer based in Chandigarh. <br>I have a passion for web development and love to create for<br> web and mobile devices.</p>
    <p class="dot">......</p>
</div>

    <div class="container skills">
        <h1>My Skills</h1>
        <div class="bar frontC experts" data-skill="Web Development"></div>
        <div class="bar learning" data-skill="React"></div>
        <div class="bar back basic" data-skill="JavaScript"></div>
        <div class="bar back intermediate" data-skill="HTML5 And CSS3"></div>
        <div class="bar front advanced" data-skill="NodeJS"></div>
        <div class="bar front expert" data-skill="MongoDB"></div>
    
      </div>
      <div class="fourth_block container-fluid">
          <h1>I Can Help</h1>
          <h4>I’m currently available for freelance work and job</h4>
          <p>If you have a project that you want to get started, <br>think you need my help with something <br> or just fancy saying hey, then get in touch.</p>
          <p class="dot">......</p>
        </div>



<%-include("Footer.ejs");%>