
.navbar{
    background-color:#f7f6e9;
    transition: top 0.3s;
}
.nav_icon{
    border-radius: 40px;
    margin-left: 200px;
}
.nav-link{
    margin-right: 20px;
}

.navbar_all{
    margin-right: 200px;
    font-weight: bold;
}

.start{
    background-color:#f7f6e9;
    padding-top: 200px;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    font-family: 'Grandstander', cursive;
}
.start>h1{
    font-size: 80px;
}
.second_block{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
}
.second_img{
    margin-top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
}
.second_block>p{
    margin-top: 20px;
}
.dot{
    font-size: 50px;
    font-weight: bolder;
}

body{
    font-family: Helvetica, Arial, sans-serif;
  }


  .skills{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
    font-family: 'Patua One', cursive;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  .bar.frontC::before{
    background-color: #f3b0ff;
  }
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(50% - 10px);
  }
  .bar.basic::before{
    width: calc(70% - 10px);
  }
  .bar.intermediate::before{
    width: calc(70% - 10px);
  }
  .bar.advanced::before{
    width: calc(40% - 10px);
  }
  .bar.expert::before{
    width: calc(40% - 10px);
  }
  .bar.experts::before{
    width: calc(70% - 10px);
  }

  .fourth_block{
      text-align: center;
      font-family: 'Fredoka One', cursive;
      padding-bottom: 50px;
  }
  
.fourth_block>h4{
    margin-top: 30px;
}
.fourth_block>p{
    margin-top: 20px;
}
.footer{
    border: 1px #c5ded7 solid;
    border-color: #c5ded7;
    background-color:#c5ded7 ;
    text-align: center;
    font-family: 'Patua One', cursive;
}
.footer>a{
    color: black;
    margin-right:5px;
}

/*   */

.work{
background-color:#f7f6e9;
padding-top: 200px;
padding-bottom: 100px;
text-align: center;
font-family: 'Kufam', cursive;
}
.work>h1{
    font-size:100px;
}
.work_img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}


.second_work{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Grandstander', cursive;
}
.second_work>h1{
    margin-top: 50px;
}

.new_work{
  text-align: center;
    padding-bottom: 150px;
    padding-top: 100px;
    font-family: 'Grandstander', cursive;
    background-color: lightsteelblue;
}
.whatsapp{
  border-radius: 20px;
}
.new_work>h1{
  margin-top: 50px;
  font-family: 'Grandstander', cursive;
}
.third_work{
    text-align: center;
    padding-bottom: 150px;
    padding-top: 100px;
    font-family: 'Grandstander', cursive;
    background-color: burlywood;
}
.twitter{   
    border-radius: 20px;
}
.third_work>h1{
    margin-top: 50px;
    font-family: 'Grandstander', cursive;
}
.t_h1{
  margin-top: 50px;
}

.fourth_work{
    text-align: center;
    padding-bottom: 150px;
    padding-top: 150px;
    background-color: sandybrown;
    font-family: 'Grandstander', cursive;
}
.myNote{
    border-radius: 20px;
}
.f_h1{
    margin-top: 50px;
}
.fifth_work{
  text-align: center;
  padding-bottom: 150px;
  padding-top: 150px;
  background-color: antiquewhite;
  font-family: 'Grandstander', cursive;
}
.personal{
  border-radius: 20px;
}
.p{
  margin-top: 50px !important;
}
.sixth_work{
  text-align: center;
  padding-bottom: 150px;
  padding-top: 150px;
  background-color: tomato;
  font-family: 'Grandstander', cursive;
}
.todo{
  border-radius:20px;
}
.t{
  margin-top: 50px;
}
.seventh_work{
  text-align: center;
  padding-bottom: 150px;
  padding-top: 150px;
  background-color: cadetblue;
  font-family: 'Grandstander', cursive;
}
.lock{
  border-radius:20px;
}
.l{
  margin-top: 50px;
}

/*  */

.two_contact{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Grandstander', cursive;
}
.socials{
  padding-top: 10px;
}
#wave {
  position: relative;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}


.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 14px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.typewriter h1 {
  color: #000;
  font-size: 70px;
  font-family: monospace;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 5s steps(100, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container-card {
  display: block;
  margin: 0px 20px;
}

.parent-card {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.wave-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;
  position: relative;
  box-shadow: 11px 17px 48px #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}
.wave-card-shape {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  opacity: 0.6;
  top: -250px;
  left: -100px;
  border-radius: 150px;
  background: #ffd600;
  animation: rotate 30s linear infinite;
}
.wave-card-shape:nth-child(1) {
  top: -245px;
  left: -98px;
  opacity: 0.4;
  z-index: 2;
  animation: rotate 25s linear infinite;
}
.wave-card-shape:nth-child(2) {
  top: -240px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}
.wave-card-subtitle {
  margin-bottom: 30px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}